@import "https://file.myfontastic.com/pyCAtqKgss2BfGPdiL2ukj/icons.css";

// font
$font-main: sans-serif;
$font-title: sans-serif;
$font-link: sans-serif;
$font-dsh-text: sans-serif;

//font-size
$fz-title: 18px;
$fz-standart:16px;
$fz-small:14px;

//colors:

$clr-border:#dbe1ec;
$clr-text: #303c49;
$clr-link: #ff5f21;
$clr-btn: #ff5f21;

//social colors:
$c-fb:#4e6ea5;
$c-tw:#00b8f0;
$c-vk:#5f82a9;
$c-yt:#ca3a39;
$c-gp:#e24322;
$c-twch:#6441a4;
$c-inst:#464646;
$c-in:#1a85ae;
$c-odn:#e77924;

//classes